body{
    margin: 0px;
}
header{
    background-color: rgb(246, 92, 15);
}
.barre-top{
    padding-top: 10px;
    padding-left: 20px;
    background-color: black;
}
ul{
    display: flex;
    color: aliceblue;
}
footer{
background-color: black;
color :white;
height: 140px;
bottom: 0;
position: fixed;
width: 100%;

}

.footer-list{
    display: flex;
background-color: black;
justify-content: flex-end;
padding-top: 1rem;
list-style-type: none;
margin-right: 2rem;
    
}

footer p{
text-align: center;
font-size: 20px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form ul li label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
textarea {
  font: 1em sans-serif;
  width: 120px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
  }
  .button {
    padding-left: 90px;
  }
  
  .button {
    margin-left: 0.5em;
  }





