body{
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    background-color: rgb(246, 92, 15);
    height: 500px;
    color: black;
}

.barre-top{
    display: flex;
    justify-content: space-between;
    height: 50px;;
    width: 100%;  
    background-color: black;
}
.liste-logo{
    display: flex;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    margin-right: 4rem;
    
}
.liste-logo li{ 
    padding-top:5px;  
    padding-left: 60px;
    padding-right: 60px;
    list-style-type: none;
}
.liste-logo li:hover{
    background-color: aliceblue;
}
.logo-application{
    padding-top: 10px;
    padding-left: 10px;
}
footer{
background-color: black;
color :white;
height: 140px;
bottom: 0;
width: 100%;

}

.footer-list{
    display: flex;
background-color: black;
justify-content: flex-end;
padding-top: 1rem;
list-style-type: none;
margin-right: 2rem;
    
}

footer p{
text-align: center;
font-size: 20px;
}



.form {
    margin: 0 auto;
    width:231px;
    padding: 2em;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin-right: 90px;
    height: 100px;
    margin-top: 230px;
    
  }
.form ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

form ul li label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,textarea {
  font: 1em sans-serif;
  width: 137px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
  }
  .button {
    margin-left: 0.6em;
    padding-left: 85px;
  }
.trois {
display: flex;
}
.winn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winn p {
  
}




