body{
    padding: 0px;
    margin: 0px;
}
header{
    width: 100%;
    color: black;
    background-color: rgb(246, 92, 15);
    height: 500px;
}

.barre-top{
    display: flex;
    justify-content: space-between;
    height: 50px;;
    width: 100%;  
    background-color: black;
}
.liste-logo{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    color: white;
    margin-right: 4rem;
}
.liste-logo li{ 
    padding-top:5px;  
    padding-left: 60px;
    padding-right: 60px;
    list-style-type: none;
}
.liste-logo li:hover{
    background-color: aliceblue;
}
.logo-application{
    padding-top: 10px;
    padding-left: 10px;
}
.titre-header{
    font-size: 4.5rem;
}